.mdxeditor-toolbar {
  border-radius: 0px !important;
}

.editor {
  @apply px-6;

  & > *:first-child {
    @apply mt-0;
  }

  & span {
    @apply text-primary-800 dark:text-primary-100;
  }

  & h2 {
    margin: 32px 0 16px 0;
  }
  & h3 {
    margin: 24px 0 12px 0;
  }

  & p {
    @apply mt-6;
  }

  & ul {
    @apply mt-4 list-disc ps-10;
  }

  & ul > li {
    @apply mb-2;
  }

  & ul > li[role='checkbox']::before {
    @apply top-1/2 -translate-y-1/2;
  }

  & ul > li[role='checkbox']::after {
    left: 5px;
    top: 50%;
    transform: rotate(45deg) translate(calc(50% - 4px), -50%);
  }

  & a {
    @apply cursor-pointer text-blue-500 underline-offset-4 hover:underline;
  }

  & blockquote {
    @apply mt-4 border-l-4 border-blue-500 bg-neutral-200 px-4 py-2 opacity-75;
  }
}
